<a href="https://colab.research.google.com/github/valentinvalhondo/Colab-Notebooks/blob/main/Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

**Creating Functions**

In [ ]:
def isNumberPair(n):
  """Return a boolean indicating if a number is pair."""
  return n % 2 == 0

In [ ]:
N = np.linspace(0,10,11)
isNumberPair(N)

array([ True, False,  True, False,  True, False,  True, False,  True,
       False,  True])

In [ ]:
def fib(n):
  """Return the fibonacci sequence until number n"""

  if ((n < 0) | ((n % 1) != 0)):
    # Bad number - discard it
    return False

  if n == 0:
    return [0]

  t1, t2 = 0, 1
  fibo = []

  while t1 <= n:
    fibo.append(t1)
    t1, t2 = t2, t1 + t2

  return fibo

In [ ]:
# Testing my function with good and bad numbers
N = (-1, 0, 1, 2, 0.5)
list(map(fib,N))

[False, [0], [0, 1, 1], [0, 1, 1, 2], False]

In [ ]:
print(fib(10))
print(fib(100))

[0, 1, 1, 2, 3, 5, 8]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

**Data Structures**

In [ ]:
# Numbers
3, 4.5
# Strings
"aaa"
'bbb'
print("aaa" + 'bbb')
variable = 'AbC' "dEf"
print(variable + "hello")
print("First character: " + variable[0])
print("Last character: " + variable[-1])
print("Slice " + variable[:4])
print("""
This spans
multiple 
lines
""")
print("Repeated: " + 3 * 'times ')
len(variable)

#

aaabbb
AbCdEfhello
First character: A
Last character: f
Slice AbCd

This spans
multiple
lines

Repeated: times times times

6

In [ ]:
strings = "are indexed and cannot be modified"
strings[5] = "X"

TypeError: ignored

In [ ]:
# Lists
# Lists might contain items of 
# different types, but usually the items all have the same type.

squares = [1, 4, 9, 16, 25]
squares + [36, 49, 64, 81, 100]
squares[0] = -10
squares.append(121)
squares.count(9)

1

In [ ]:
squares = list(map(lambda x: x**2, range(10)))
print(squares)
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# Tuples and Sequences
# A tuple consists of a number of values separated by commas
# Are INMUTABLE
t = "A", True, 12
print(t)
print(t[0])
u = t, list(range(5))
print(u)

# Sets
# A set is an unordered collection with no duplicate elements
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)
print('orange' in basket)
print('crabgrass' in basket)
# To create an empty set, do it like: a = set(), not a = {}, which creates a Dict
a = set()
b = set('BlaBlaBla')
print(b)

('A', True, 12)
A
(('A', True, 12), [0, 1, 2, 3, 4])
{'pear', 'apple', 'orange', 'banana'}
True
False
{'a', 'B', 'l'}

In [ ]:
# Dictionaries
# dictionaries are indexed by keys
# It is best to think of a dictionary as a set of key: value pairs
# with the requirement that the keys are unique

tel = {
    'joao': 1234,
    'jack': 5678,
    'vale': 0000
}
print(tel['jack'])
tel['juan'] = 1111
print(tel)
del(tel['vale'])
print(tel)

# Returns a list of all the keys in insertion order
print(list(tel))

# Returns a list of all the keys in sorted order
print(sorted(tel))

5678
{'joao': 1234, 'jack': 5678, 'vale': 0, 'juan': 1111}
{'joao': 1234, 'jack': 5678, 'juan': 1111}
['joao', 'jack', 'juan']
['jack', 'joao', 'juan']

In [ ]:
Looping Techniques through dictionaries

In [ ]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
  print(k,v)

questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
  print('What is your {0}? It is {1}'.format(q, a))

gallahad the pure
robin the brave
What is your name? It is lancelot
What is your quest? It is the holy grail
What is your favorite color? It is blue

**Input ans Output**

In [ ]:
year = 2016
event = 'Referendum'
f'Results of the {year} {event}'

'Results of the 2016 Referendum'

In [ ]:
yes_votes = 42_572_654
no_votes = 43_132_495
percentage = yes_votes / (yes_votes + no_votes)
'{:} YES votes {:2.2%}'.format(yes_votes, percentage)

'42572654 YES votes 49.67%'

In [ ]:
import math
import json

In [ ]:
print(f'The value of pi is approximately {math.pi:.3f}.')

The value of pi is approximately 3.142.

In [ ]:
json.dumps([1,"simple",'list'])

'[1, "simple", "list"]'

In [ ]:
university = {
    'humans': {
        'professors': {
                    'engineering': ['aerospace','civil','naval','telcom'],
                    'social': ['philosophy','sociology'],
                    'arts':[{
                              'joao1': {
                                        'age':'30',
                                        'profession':'physicist'
                                    }, 
                              'marc1': {
                                        'age':'30',
                                        'profession':'physicist'
                                    }},
                            {
                              'joao2': {
                                        'age':'30',
                                        'profession':'physicist'
                                    }, 
                              'marc2': {
                                        'age':'30',
                                        'profession':'physicist'
                                    }},
                            {
                              'joao3': {
                                        'age':'30',
                                        'profession':'physicist'
                                    }, 
                              'marc3': {
                                        'age':'30',
                                        'profession':'physicist'
                                    }}]
        },
        'students': {
            'joao': {
                'age':'30',
                'profession':'physicist'
            },
            'marc': {
                'age':'30',
                'profession':'physicist'
            },
            'juan': {
                'age':'30',
                'profession':'physicist'
            },
            'luis': {
                'age':'30',
                'profession':'physicist'
            }
        }
    },
    'degrees': {
        'engineering': ['aerospace','civil','naval','telcom'],
        'social': ['philosophy','sociology'],
        'arts':['pictures','sculpture']
    }
}
json.dumps(university)

'{"humans": {"professors": {"engineering": ["aerospace", "civil", "naval", "telcom"], "social": ["philosophy", "sociology"], "arts": [{"joao1": {"age": "30", "profession": "physicist"}, "marc1": {"age": "30", "profession": "physicist"}}, {"joao2": {"age": "30", "profession": "physicist"}, "marc2": {"age": "30", "profession": "physicist"}}, {"joao3": {"age": "30", "profession": "physicist"}, "marc3": {"age": "30", "profession": "physicist"}}]}, "students": {"joao": {"age": "30", "profession": "physicist"}, "marc": {"age": "30", "profession": "physicist"}, "juan": {"age": "30", "profession": "physicist"}, "luis": {"age": "30", "profession": "physicist"}}}, "degrees": {"engineering": ["aerospace", "civil", "naval", "telcom"], "social": ["philosophy", "sociology"], "arts": ["pictures", "sculpture"]}}'

In [ ]:
university['humans']['students']['joao']['profession']

'physicist'

In [ ]:
for student, data in university['humans']['students'].items():
  print(student, ' -> age:', data['age'], ' -> profession:', data['profession'])

joao  -> age: 30  -> profession: physicist
marc  -> age: 30  -> profession: physicist
juan  -> age: 30  -> profession: physicist
luis  -> age: 30  -> profession: physicist

In [ ]:
for index in university['humans']['professors']['arts']:
  for prof, details in index.items():
    print(prof, details)
  print('---')

joao1 {'age': '30', 'profession': 'physicist'}
marc1 {'age': '30', 'profession': 'physicist'}
---
joao2 {'age': '30', 'profession': 'physicist'}
marc2 {'age': '30', 'profession': 'physicist'}
---
joao3 {'age': '30', 'profession': 'physicist'}
marc3 {'age': '30', 'profession': 'physicist'}
---